<form [formGroup]="scheduleForm">
  <div class="stepsdemo-content">
    <p-card>
      <ng-template pTemplate="title"> Schedule </ng-template>
      <ng-template pTemplate="content">
        <div class="row">
          <h5>Select Service:<span style="color: red">*</span></h5>
          <div class="p-fluid formgrid grid">
            <div class="field col-12 md:col-4">
              <p-dropdown
                [options]="product"
                placeholder="Select Service"
                optionLabel="name"
                optionValue="id"
                [showClear]="true"
                formControlName="product"
                [(ngModel)]="selectedProduct"
                (onChange)="getDisabledDays($event)">
                <ng-template pTemplate="selectedItem">
                  <div *ngIf="selectedProduct">{{ productDetails.name }}</div>
                </ng-template>
                <ng-template let-item pTemplate="item">
                  <div>
                    <b>{{ item.name }}</b>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="selectedProduct">         
          <div class="p-fluid formgrid grid">
            <div class="field col-12 md:col-4">
              <p-card>
                <h5>Service Offered: </h5>{{ productDetails?.description }} <br/>
                <h5 class="mt-4">Duration: </h5>{{ productDetails?.duration }} hrs
            </p-card>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="showCalendar">
          <div class="p-fluid formgrid grid">
            <div class="field col-6 md:col-6">
              <h5>Date<span style="color: red">*</span></h5>
              <p-divider></p-divider>
              <p-calendar
                [inline]="true"
                formControlName="appointmentDate"
                dataType="string"
                [(ngModel)]="appointmentDate"
                (onSelect)="resetSelectedTime()"
                disabledWeekends="true"
                [minDate]="today"
                [disabledDates]="invalidDates"
                [disabledDays]="[4]">
                <ng-template pTemplate="date" let-date>
                  <span
                    [ngClass]="{
                      'text-danger font-semibold': isFullyBook(
                        date.day,
                        date.month,
                        date.year
                      )
                    }"
                    >{{ date.day }}</span
                  >
                </ng-template>
              </p-calendar>
            </div>
            <div class="field col-6 md:col-6">
              <h5>Time<span style="color: red">*</span><span class="text-muted ml-2 fs-6">(Select {{ productDetails?.duration }} timeslot)</span></h5> 
              <p-divider></p-divider>
              <!-- Time  -->
              <div *ngIf="scheduleForm.get('appointmentDate')?.value">
                <div class="row" *ngFor="let time of appointmentTime; let i = index">
                  <div class="col">
                    <div class="field-radiobutton">
                      <p-checkbox name="appointmentTime" [value]="time.id" 
                      [label]="time.name"
                      [disabled]="time.availableSlot === 0 || (selectedDuration === selectedTime.length && !isSelected(time.id))"
                      [(ngModel)]="selectedTime"
                      (onChange)="onTimeSelect($event)"
                      [ngModelOptions]="{standalone: true}"></p-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-end">
          <p-button
            label="Next"
            (onClick)="nextPage()"
            icon="pi pi-angle-right"
            iconPos="right"
            [disabled]="scheduleForm.invalid"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</form>
